{% extends "ourhrms/www/sidebar_pm.html" %}
{% block page_content %}
<div>
    <div class="d-flex flex-wrap gap-3">
        <button class="btn btn-dark rounded-pill shadow-sm text-white" id="LeaveDetails">Leave Details</button>
        <button class="btn btn-dark rounded-pill shadow-sm text-white" id="LeaveRequest">Leave Request</button>
        <button class="btn btn-dark rounded-pill shadow-sm text-white" id="LeaveApproved">Leave Approved</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Leave Type</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Total Days</th>
                <th>Leave Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in leave_request_list %}
            <tr>
                <td>{{ leave.leave_type }}</td>
                <td>{{ leave.from_date }}</td>
                <td>{{ leave.to_date }}</td>
                <td>{{ leave.total_days }}</td>
                <td>{{ leave.leave_reason }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.getElementById("LeaveDetails").addEventListener("click", function() {
        window.location.href = "/pm/leave"; // Refreshes the current page
    });

    document.getElementById("LeaveRequest").addEventListener("click", function() {
        window.location.href = window.location.href; // Change this to the correct URL of the other page
    });

    document.getElementById("LeaveApproved").addEventListener("click", function() {
        window.location.href = "/pm/leave/leave_approved.html"; // Change this to the correct URL of the other page
    });
</script>
{% endblock %}
